nav {
	//text-align:right;
		margin: 10px;
		padding: 10px 100px;
		font-color: #CC0000;
}

body {
	font-family: sans-serif;
	color: #CC4622;
	margin: 0;
	width: 100%;
	padding: 0;
}

header {
	background: pink;
	text-align: center;
	color: green;
	background-size: cover;
	background-image: url("sunsetBackground.jfif");
	background-position: fixed;
}

header img {
	border: 10px solid #fff;
	border-radius: 10%;
	padding: 3px;
}

a {
	color: #CC0000;
}

h1 {
	color: #ffffff;
	font-size: 48px;
}

img {
	 border: 2px solid blue;
}

#about {
	 background: #FFCA59;
	 background: red;
	 background: #BF9E7E; /* light tannish brown*/
	 font-size: 2em;
	 text-align: center;
  	 font-weight: bold;
}


ul.websites {
 	padding: 0;
}

ul.websites li {
	list-style: none;
	display: inline-block;
}

.links h2 {
	 font-family: sans-serif;
	 color: #CC4622; /*dark orange*/
	 font-size: 2em;
	 padding-bottom: 0px;

}

.padded {
 	padding: 10px 100px;
}

ol {
	font-size: 1.5em;
}

.contact {
	 text-align: center;
	 color: #fff;  /* white */
	 background: url(images/dark_embroidery.png);
	 /* background-repeat: none;
	 background-repeat: repeat-x;
	 background-position: bottom center;*/
}

.contact h2 {
 	color: #fff;
}

.contact a img {
	 width: 100px;
	 margin: 10px;
	 border-radius: 0%;
	 border: none;

}
.contact a{
	color: transparent;
}


.contact img:hover {
 opacity: .5;
}

#github-size {
	 width: 108px;
}

.websites a {
 background: #38A88F;  /* teal green */
 padding: 10px 20px;
 color: #fff;   /* white */
 text-decoration: none;
 border-radius: 5px;
 font-size: 24px;
 display: block;
 margin-right: 10px;
}

.websites a:hover {
background: #666;  /* medium gray */
}
